.header{
    display: flex;
    justify-content:space-between;
}
.li{
    display: flex;
    justify-content: space-between;
}
.section1{
    position: relative;
}
.offer{
    display: inline;
    position: absolute;
}
.section1{
    background-image: "images/foods.png";
}
.span{
    color: yellow;
    padding: 20rem;
    font-size: 30px;

}

.section2 > p{
    font-size: 1px;
    font-family:italic;
}





